In [1]:
# Imports

import pandas as pd
import numpy as np
from datetime import datetime

# from google.colab import drive
# drive.mount('/content/drive')

pd.set_option('display.max_columns', None)
# pd.set_option('display.max_rows', None)

### Importing and cleaning *train.csv*

In [2]:
# Importing train.csv as pandas dataframe.

train = pd.read_csv("../input/train.csv")

In [3]:
train.head()

,Date,Address,Species,Block,Street,Trap,AddressNumberAndStreet,Latitude,Longitude,AddressAccuracy,NumMosquitos,WnvPresent
0,2007-05-29,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX PIPIENS/RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.954690,-87.800991,9,1,0
1,2007-05-29,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.954690,-87.800991,9,1,0
2,2007-05-29,"6200 North Mandell Avenue, Chicago, IL 60646, USA",CULEX RESTUANS,62,N MANDELL AVE,T007,"6200 N MANDELL AVE, Chicago, IL",41.994991,-87.769279,9,1,0
3,2007-05-29,"7900 West Foster Avenue, Chicago, IL 60656, USA",CULEX PIPIENS/RESTUANS,79,W FOSTER AVE,T015,"7900 W FOSTER AVE, Chicago, IL",41.974089,-87.824812,8,1,0
4,2007-05-29,"7900 West Foster Avenue, Chicago, IL 60656, USA",CULEX RESTUANS,79,W FOSTER AVE,T015,"7900 W FOSTER AVE, Chicago, IL",41.974089,-87.824812,8,4,0

In [4]:
train.shape

(10506, 12)

In [5]:
train.columns

Index(['Date', 'Address', 'Species', 'Block', 'Street', 'Trap',
       'AddressNumberAndStreet', 'Latitude', 'Longitude', 'AddressAccuracy',
       'NumMosquitos', 'WnvPresent'],
      dtype='object')

In [6]:
train.dtypes

Date                       object
Address                    object
Species                    object
Block                       int64
Street                     object
Trap                       object
AddressNumberAndStreet     object
Latitude                  float64
Longitude                 float64
AddressAccuracy             int64
NumMosquitos                int64
WnvPresent                  int64
dtype: object

In [7]:
# Checking for null values.

train.isnull().sum()

Date                      0
Address                   0
Species                   0
Block                     0
Street                    0
Trap                      0
AddressNumberAndStreet    0
Latitude                  0
Longitude                 0
AddressAccuracy           0
NumMosquitos              0
WnvPresent                0
dtype: int64

In [8]:
# Dropping unnecessary columns.

train_cols_to_drop = ['Address', 'Block', 'Street', 'Trap', 'AddressNumberAndStreet', 'AddressAccuracy', 'NumMosquitos']
train.drop(columns=train_cols_to_drop, inplace=True)

In [9]:
train.shape

(10506, 5)

In [10]:
# Dropping duplicate rows
# Since NumMosquitos column is already dropped, there are a lot of rows which have duplicate values in all other columns. These rows need to be dropped.
# ignore_index=True to reset the index after dropping all duplicate rows.

train.drop_duplicates(ignore_index=True, inplace=True)

In [11]:
train.shape

(8610, 5)

In [12]:
# Converting Date column from object type to datetime type.

train['Date'] = train['Date'].map(lambda date: datetime.strptime(date, '%Y-%m-%d'))

In [13]:
train.dtypes

Date          datetime64[ns]
Species               object
Latitude             float64
Longitude            float64
WnvPresent             int64
dtype: object

In [14]:
# Grouping by individual species which have (or don't have) the virus.

species = train.groupby('Species')['WnvPresent'].sum()
species

# Only 3 of 7 species have the virus. Remaining 4 of 7 species do not have the virus. They are VIRUS FREE.
# Rows of these VIRUS FREE species should be dropped.

Species
CULEX ERRATICUS             0
CULEX PIPIENS             184
CULEX PIPIENS/RESTUANS    225
CULEX RESTUANS             48
CULEX SALINARIUS            0
CULEX TARSALIS              0
CULEX TERRITANS             0
Name: WnvPresent, dtype: int64

In [15]:
# Filtering the species with virus.

species_with_virus = species[species!=0].index
species_with_virus

Index(['CULEX PIPIENS', 'CULEX PIPIENS/RESTUANS', 'CULEX RESTUANS'], dtype='object', name='Species')

In [16]:
# Using list comprehension to create a list of 1 and 0.
# 1 if the species is in the list of species_with_virus above. 0 otherwise.

train_species_with_virus = [1 if species in species_with_virus else 0 for species in train['Species']]

In [17]:
# Checking remaining number of rows of species WITHOUT virus (the ones with 4 out of 7 virus free species above).

train.shape[0] - sum(train_species_with_virus)

# Only 306 rows out of 8304 (3.68%). So these rows can definitely be dropped.

306

In [18]:
# Assigning above defined list to a new column VirusSpecies.

train['VirusSpecies'] = train_species_with_virus

In [19]:
#  Keeping only rows with VirusSpecies = 1. Dropping all rows which have VirusSpecies = 0.
# .copy() so that the train dataframe gets assigned as a new dataframe instead of just the reference link to it.

train = train[train['VirusSpecies']==1].copy()

In [20]:
train.shape

(8304, 6)

In [21]:
# Dropping the VirusSpecies column now because it is no longer needed.

train.drop(columns=['VirusSpecies'], inplace=True)

In [22]:
train.shape

(8304, 5)

In [23]:
train.dtypes

Date          datetime64[ns]
Species               object
Latitude             float64
Longitude            float64
WnvPresent             int64
dtype: object

In [24]:
# Checking for null values.

train.isnull().sum()

Date          0
Species       0
Latitude      0
Longitude     0
WnvPresent    0
dtype: int64

In [25]:
# Checking no. of unique species remaining.

len(train['Species'].unique())

3

In [26]:
train = pd.get_dummies(train, columns=['Species'])

In [27]:
train.shape

(8304, 7)

In [28]:
# Checking final number of columns to ensure they are correct.
# 5 = Initial number of columns before one-hot encoding.
# 1 = Only Species column is being one-hot encoded.
# 3 = No. of unique values in Species column.

5 - 1 + 3

7

In [29]:
train.columns

Index(['Date', 'Latitude', 'Longitude', 'WnvPresent', 'Species_CULEX PIPIENS',
       'Species_CULEX PIPIENS/RESTUANS', 'Species_CULEX RESTUANS'],
      dtype='object')

In [30]:
# Re-arranging the columns to put target variable WnvPresent as the last column.

train_cols = list(train.columns)
train_cols.remove('WnvPresent')
train_cols.append('WnvPresent')

train = train[train_cols]

In [31]:
# Exporting the cleaned train df as a CSV file.

train.to_csv("../input/train_clean.csv", index=False)

### Importing and cleaning *test.csv*

In [32]:
# Importing test.csv as pandas dataframe.

test = pd.read_csv("../input/test.csv")

In [33]:
test.head()

,Id,Date,Address,Species,Block,Street,Trap,AddressNumberAndStreet,Latitude,Longitude,AddressAccuracy
0,1,2008-06-11,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX PIPIENS/RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.95469,-87.800991,9
1,2,2008-06-11,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.95469,-87.800991,9
2,3,2008-06-11,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX PIPIENS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.95469,-87.800991,9
3,4,2008-06-11,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX SALINARIUS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.95469,-87.800991,9
4,5,2008-06-11,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX TERRITANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.95469,-87.800991,9

In [34]:
test.shape

(116293, 11)

In [35]:
test.columns

Index(['Id', 'Date', 'Address', 'Species', 'Block', 'Street', 'Trap',
       'AddressNumberAndStreet', 'Latitude', 'Longitude', 'AddressAccuracy'],
      dtype='object')

In [36]:
test.dtypes

Id                          int64
Date                       object
Address                    object
Species                    object
Block                       int64
Street                     object
Trap                       object
AddressNumberAndStreet     object
Latitude                  float64
Longitude                 float64
AddressAccuracy             int64
dtype: object

In [37]:
# Checking for null values.

test.isnull().sum()

Id                        0
Date                      0
Address                   0
Species                   0
Block                     0
Street                    0
Trap                      0
AddressNumberAndStreet    0
Latitude                  0
Longitude                 0
AddressAccuracy           0
dtype: int64

In [38]:
# Dropping unnecessary columns.

cols_to_drop = ['Address', 'Block', 'Street', 'Trap', 'AddressNumberAndStreet', 'AddressAccuracy']
test.drop(columns=cols_to_drop, inplace=True)

In [39]:
test.shape

(116293, 5)

In [40]:
# Converting Date column from object type to datetime type.

test['Date'] = test['Date'].map(lambda date: datetime.strptime(date, '%Y-%m-%d'))

In [41]:
test.dtypes

Id                    int64
Date         datetime64[ns]
Species              object
Latitude            float64
Longitude           float64
dtype: object

In [42]:
test = pd.get_dummies(test, columns=['Species'])

In [43]:
test.shape

(116293, 12)

In [44]:
# Filtering extra columns in test df that do not exist in train df.

test_extra_cols = []

for col in list(test.columns):
    if col not in list(train.columns):
        test_extra_cols.append(col)

test_extra_cols

['Id',
 'Species_CULEX ERRATICUS',
 'Species_CULEX SALINARIUS',
 'Species_CULEX TARSALIS',
 'Species_CULEX TERRITANS',
 'Species_UNSPECIFIED CULEX']

In [45]:
# Removing Id column from list of extra columns in test df.
# We cannot drop Id column because this column is needed for final submission of results to kaggle.

test_extra_cols.remove('Id')
test_extra_cols

['Species_CULEX ERRATICUS',
 'Species_CULEX SALINARIUS',
 'Species_CULEX TARSALIS',
 'Species_CULEX TERRITANS',
 'Species_UNSPECIFIED CULEX']

In [46]:
# Dropping all other extra columns from test df.
# These columns can be dropped because they do not exist in train df. So they will never be used in our modelling process.

test.drop(columns=test_extra_cols, inplace=True)

In [47]:
# Filtering missing columns in test df that exist in train df.

test_missing_cols = []

for col in list(train.columns):
    if col not in list(test.columns):
        test_missing_cols.append(col)

test_missing_cols

# As expected, only 'WnvPresent' column is missing in test df, and it exists in train df.

['WnvPresent']

In [48]:
# Ensuring the order of columns in test df is same as train df (just for ease of viewing and comparison purposes).
# Retaining the Id column in test as well.

test_clean_cols = ['Id']
test_clean_cols.extend(list(train.columns))
test_clean_cols.remove('WnvPresent')
test_clean_cols

test = test[test_clean_cols]

In [49]:
# Exporting the cleaned train df as a CSV file.

test.to_csv("../input/test_clean.csv", index=False)